/*-----------------------------------*\
  #CUSTOM PROPERTY
\*-----------------------------------*/

:root {
  /* Colors */
  --dark: hsl(220, 40%, 13%);
  --white: hsla(0, 0%, 100%, 0.8);
  --gray: hsla(0, 0%, 100%, 0.6);
  --surface-dark: hsl(222, 41%, 17%);
  --blue: hsl(212, 100%, 50%);
  --font-primary: "Poppins", sans-serif;
  --large-text: 30px;
}

/*-----------------------------------*\
  #RESET
\*-----------------------------------*/
body {
  margin: 0;
  padding: 0;
  background-color: var(--dark);
  color: var(--white);
  font-family: var(--font-primary);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  color: inherit;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

a,
img,
svg,
span,
input,
button {
  display: block;
}

input,
button {
  background: none;
  border: none;
  outline: none;
  font: inherit;
  color: inherit;
}


figure {
  margin: 0px;
  padding: 0px;
}

button {
  cursor: pointer;
}


.app_container {
  max-width: 1660px;
  margin: 0px auto;
  padding: 5px;
}

/* Nav Bar Style starts Here */

.brand_title {
  display: flex;
  font-size: var(--large-text);
}

.brand_title span {
  color: var(--blue);
}

.nav_bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0px;
}

.search_bar {
  display: flex;
  align-items: center;
  justify-content: center;
}

.search_bar input {
  border: 1px solid var(--gray);
  padding: 10px;
  border-top-left-radius: 20px;
}

.search_bar button {
  background-color: var(--blue);
  padding: 12px;
  border-bottom-right-radius: 20px;
}

/* Nav Bar Style Ends Here */


/* Profile Section Style Starts Here */

.profile_container {
  display: flex;
  gap: 20px;
}

.avater {
  height: 140px;
  width: 140px;
  border-radius: 50%;
  border: 2px solid var(--blue)
}

#displayUserName {
  margin-bottom: 10px;
}


.user_location {
  display: flex;
  gap: 5px;
}

.material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}

/* Profile Section Style Ends Here */


/* Repository Lists Section Style Starts Here */

.repository_container {
  display: grid;
  grid-template-columns: auto auto;
  gap: 10px;
  margin: 30px 0px;
}

.repository_card {
  border: 2px solid var(--gray);
  padding: 10px;
  border-radius: 10px;
}

.repository_card h1 {
  margin-bottom: 10px;
  font-size: 22px;
}

.repository_card div {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 5px;
  margin-top: 10px;
}

.repository_card div button {
  background-color: var(--blue);
  padding: 5px;
  border-radius: 10px;
}

/* Repository Lists Section Style Starts Here */


/* Pagination Section Style Starts Here */
#pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2px;
  margin: 20px 0px;
}

#pagination button {
  border: 1px solid var(--gray);
  padding: 10px;
}

.blue-background {
  background-color: var(--blue);
}

/* Pagination Section Style Ends Here */


/* Loading Page */

.loading_page {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 600px;
  width: 80vw;
}

/* Loading Page */


/* Empty Page style starts Here */

.empty_page {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 600px;
  width: 80vw;
}

/* Empty Page style Ends Here */


@media screen and (max-width: 500px) {
  nav {
    flex-direction: column;
  }

  .profile_container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .profile_container p,
  h1 {
    text-align: center;
  }

  .user_location {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .repository_container {
    display: grid;
    grid-template-columns: auto;
  }

}

/*-----------------------------------*\
  #UTILITY
\*-----------------------------------*/
/* .blue-text {
  color: var(--primary-light)
}

.white-text {
  color: var(--alpha-80-dark)
}

.blue-bg {
  background-color: var(--primary-light);
}

.surface-dark-bg {
  background-color: var(--surface-dark);
}

.flex {
  display: flex;
}

.items-center {
  display: flex;
  align-items: center;
}

.justify-center {
  display: flex;
  justify-content: center;
}

.justify-between {
  display: flex;
  justify-content: space-between;
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

.grid {
  display: grid;
}

.template-col-2 {
  display: grid;
  grid-template-columns: auto auto;
}

.p-10 {
  padding: 10px;
}

.p-5 {
  padding: 5;
}

.m-5 {
  margin: 5px;
}

.mx-10 {
  margin: 0px 10px;
}

.my-5 {
  margin: 5px 0px;
}

.my-10 {
  margin: 10px 0px;
}


.rounded {
  border-radius: 10px;
}

.rounded-left {
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
}

.rounded-right {
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
}

.rounded-full {
  border-radius: 50%;
}

.border {
  border: 1px solid var(--alpha-60-dark);
}

.border-blue {
  border: 1px solid var(--primary-light);
}

.text-center {
  text-align: center;
}

.h-screen {
  height: 100vh;
}

/*-----------------------------------*\
  #REUSED STYLE
\*-----------------------------------*/





/*-----------------------------------*\
  #COMPONENTS
\*-----------------------------------*/


/* Icon button */